<div class="page-header">
  <h1>購物車</h1>
</div>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>名稱</th>
    <th>數量</th>
    <th>單價</th>
    <th>小計</th>
    <th></th>
    <th>總價</th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <%= @cart.map {|_, info| info[:price].to_i * info[:count].to_i }.sum %>
    </td>
  </tr>
<% @cart.each do |id, info| %>
  <tr>
    <td><%= info[:name] %></td>
    <td><%= info[:count] %></td>
    <td><%= info[:price] %></td>
    <td><%= info[:price].to_i * info[:count].to_i %></td>
    <td><%= button_to '刪除', remove_from_cart_path(:item_id => id), :class => 'btn btn-danger btn-mini' %></td>
    <td></td>
  </tr>
<% end %>
</table>
<%= simple_form_for(Order.new, :url => order_path) do |f| %>
  <%= f.input :name, :label => '姓名' %>
  <%= f.input :mobile, :label => '手機' %>
  <%= f.input :stid, :label => '學號' %>
  <%= f.input :email %>
  <%= f.input :draw_date, :collection => [['5/9', 509], ['5/10', 510]], :selected => 509 %>
  <%= f.input :items_info, :as => :hidden, :input_html => { :value => (@cart.map {|i,info| [i, info[:count]].join(':')}).join(',') } %>
  <%= f.button :submit, '建立訂單' %>
<% end %>
